# Auto detect text files and perform LF normalization
* text=auto eol=lf

# Batch files
*.bat text eol=crlf

# PowerShell scripts
*.ps1 text eol=crlf

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary